{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui vertical stripe">
    <div class="ui text container center aligned">
        <div class="ui huge header">Erro 404!</div>
        <small>Você parece perdido(a)</small>
    </div>

    <div class="ui text container center aligned">
        <p>Sem crushes por aqui!</p>
    </div>
</div>
<script type="text/javascript">
    ga('send', {
        hitType: 'event',
        eventCategory: 'HTTP Error',
        eventAction: '404',
        eventLabel: 'Page not found'
    });
</script>
{% endblock %}
