{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui text container center aligned">
        <div class="ui huge header">Erro 500!</div>
        <small>It's not you. It's us.</small>
    </div>

    <div class="ui text container center aligned">
        <p>Nossa equipe de gatinhos altamente treinados já foi informada!</p>
    </div>
    <div class="ui divider"></div>
    <div class="ui container center aligned">
        <h4>Eles vão resolver seu problema assim que terminarem com o crush:</h4>
        <br>
        <br>
    </div>
    <img src="http://4.bp.blogspot.com/_gTJMEP-c2fo/SLffnUrVAbI/AAAAAAAAEB8/eJFfMbPzQDA/s640/kitten+love.jpg" class="ui centered image">

</div>
{% endblock %}
