{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui divider"></div>
<div class="ui vertical stripe quote segment">
    <div class="ui middle equal width aligned stackable grid container">
        <div class="center aligned row">
            <div class="center aligned column">
                <h1>
                    Sobre nós
                </h1>
            </div>
        </div>
        <div class="column">
            <h2>Somos alunos, assim como você</h2>
            <p>Spotteds como antes, só que melhores!</p>
            <p>Agora eles usam inteligência artificial para decidir que mensagens são merecedoras de serem postadas na página.</p>
            <p>Você envia, nós checkamos o conteúdo de sua mensagem e decidimos se aprovamos.</p>
            <p>Você também pode marcar seus crushes em seus spotteds!</p>
            <p>Para marcar alguém, basta começar a digitar seu nome na caixa "marcar crush". Se seu crush já usou nosso site, ele vai aparecer lá!</p>
            <p>Lembramos que quando você manda um spotted assinado(não anônimo), apenas você e seu crush, se marcado, poderão saber quem enviou!</p>
            <p>Você pode também enviar um spotted público. Spotteds públicos são perfeitos para quando você quer deixar contato para que qualquer pessoa possa te encontrar, não apenas seu crush!</p>
            <p>Quer enviar um spotted assinado mas tem medo de que nós vejamos quem é você? Não se preocupe! Nós, moderadores, nunca vemos quem enviou ou foi marcado em nenhum spotted! É completamente anônimo!</p>
            <p>Acabou de mandar um spotted? Nós te avisaremos quando ele for postado! Você receberá uma notificação no facebook!</p>
            <p>Seu crush também receberá na hora! Assim ele nunca perderá um spotted sequer e seu amor não será invisível</p>
        </div>
        <div class="column">
            <h2>Seguros, mas versáteis</h2>
            <p>
                Quer permanecer no anonimato?<br>
                Quer fazer seu nome conhecido por todxs xs crushes?<br>
            </p>
            <p>Nós te damos todas as opções!</p>
            <p>Aqui você pode decidir se quer que seu spotted seja visto por alguém ou não!</p>
            <p>Lembramos que quando você manda um spotted assinado(não anônimo), apenas você e seu crush, se marcado, poderão saber quem enviou!</p>
            <p>Você pode também enviar um spotted público. Spotteds públicos são perfeitos para quando você quer deixar contato para que qualquer pessoa possa te encontrar, não apenas seu crush!</p>
            <p>Spotteds como antes, só que melhores!</p>
            <p>Agora eles usam inteligência artificial para decidir que mensagens são merecedoras de serem postadas na página.</p>
            <p>Você envia, nós checkamos o conteúdo de sua mensagem e decidimos se aprovamos.</p>
            <p>Você também pode marcar seus crushes em seus spotteds!</p>
            <p>Para marcar alguém, basta começar a digitar seu nome na caixa "marcar crush". Se seu crush já usou nosso site, ele vai aparecer lá!</p>
            <p>Quer enviar um spotted assinado mas tem medo de que nós vejamos quem é você? Não se preocupe! Nós, moderadores, nunca vemos quem enviou ou foi marcado em nenhum spotted! É completamente anônimo!</p>

        </div>
    </div>
</div>
{% endblock %}
