{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1 class="ui header">Explore spotteds!
                    <div class="sub header">Procurando ideias? Quer saber detalhes sobre outros spotteds? Explore todo o nosso histórico!</div>
                </h1>
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="search" type="text" placeholder="Pesquisar spotteds...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    {% include "spotteds/spotteds/list.html" %}
</div>
{% endblock %}
