<!doctype html>
<html>

<head>
    <!-- Load project's staticfiles -->
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Spotted made better">
    <link rel="icon" href="{% static 'main/img/favicon.png' %}">

    <title>Spotted</title>

    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <!-- Semantic-UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.js"></script>

    <!-- Semantic-UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">

    <!-- Material and Awesome Fonts and Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">


    <!-- Local scripts -->
    <script type="text/javascript" src="{% static 'main/js/sidebar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/responsive.css' %}">

    <!-- Local stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/menu.css' %}">

    <!-- Google Analytics -->
    <script type="text/javascript" src="{% static 'main/js/GA.js' %}"></script>

    <!-- Google Adsense -->
    {% include 'main/ads/init_ads.html' %}

</head>

<body data-gr-c-s-loaded="true" class="pushable">

    <!-- Page Contents -->
    <div class="pusher">

        {% include 'main/ads/banner_ad.html' %}

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="center aligned sixteen wide column">
                        <h1>Spotted #{{ spotted.spotted_count }}  <a target="_blank" href="https://facebook.com/{{ spotted.post_id }}">Veja no Facebook</a></h1>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="ui middle center aligned stackable grid container">
                {% if spotted.author == user or spotted.target == user %}
                <div class="ui link cards">
                    {% if spotted.author %}
                        {% if spotted.author == user or spotted.target == user and spotted.share_with_crush %}
                        <div class="card">
                            <a target="_blank" href="{{ spotted.author.facebookuser.link }}" class="image">
                                <img src="{{ spotted.author.facebookuser.picture }}">
                            </a>
                            <div class="content">
                                <div class="header">{{ spotted.author.facebookuser.name }}</div>
                                <div class="meta">
                                    <a>Autor(a) do Spotted</a>
                                </div>
                            </div>
                            <a target="_blank" href="{{ spotted.author.facebookuser.link }}" class="ui bottom attached blue button">
                                Ver no Facebook
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if spotted.target %}
                    <div class="card">
                        <a target="_blank" href="{{ spotted.target.facebookuser.link }}" class="image">
                            <img src="{{ spotted.target.facebookuser.picture }}">
                        </a>
                        <div class="content">
                            <div class="header">{{ spotted.target.facebookuser.name }}</div>
                            <div class="meta">
                                <a>Crush do Spotted</a>
                            </div>
                        </div>
                        <a target="_blank" href="{{ spotted.target.facebookuser.link }}" class="ui bottom attached blue button">
                            Ver no Facebook
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="row">
                    <h2>Informações sobre x autor(a) e crush não disponíveis!</h2>
                </div>
                {% if not user.is_authenticated %}
                <div class="row">
                    <h4>É x autor(a) ou crush? Entre em sua conta!</h4>
                </div>
                <div class="row">
                    <a href="{% url 'custom_auth:facebook_login' %}?next">
                        <img style="max-height: 70px;" src="{% static 'main/img/login.png' %}">
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="ui column four wide"><h2>Mensagem:</h2></div>
                    <div class="ui column eight wide">
                        <p>
                            {{ spotted.message | linebreaksbr }}
                        </p>
                    </div>
                    <div class="ui column four wide">
                        {% if spotted.attachment %}
                        <h3>Anexo:</h3>
                        {% endif %}
                        <p>
                            <a target="{{ spotted.attachment }}"" href="{{ spotted.attachment }}">{{ spotted.attachment }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body></html>
