<head>
    <title>404: Oops!</title>
</head>
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="jumbotron image-center">
    <div class="container">
        <a id="logo-container" href="/"><img src="{% static 'logo_alt4.png'%}" alt="" /></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <h1>404: Você não vai encontrar caronas aqui!</h1>
            <hr>
        </div>
        <div class="col-xs-12 col-md-12">
            <h4><span class="glyphicon glyphicon-heart"></span> Clique no gatinho da aventura para encontrar o caminho de volta</h4>
            <a href="/"><img id="login-container" width="100%" height="auto" style="max-width: 300px;" class="center-block img-responsive" src="{% static 'kitten.png'%}" alt="" /> </a>
        </div>
    </div>
</div> <!-- row -->

{% endblock %}
