<head>
    <title>500: Oops!</title>
</head>
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="jumbotron image-center">
    <div class="container">
        <a id="logo-container" href="/"><img src="{% static 'logo_alt4.png'%}" alt="" /></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <h1>500: Algo de errado aconteceu</h1>
            <h4>Uma equipe de macacos altamente treinados já foi informada do erro e vai lidar com a situação.</h4>
            <hr>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3><span class="glyphicon glyphicon-alert"></span> Fiz tudo certo, mas continuo voltando pra cá!</h3>
            Os macacos já devem ter começado a bater no servidor pra ele funcionar, mas você pode enviar uma mensagem
            pro supervisor deles por um dos canais abaixo
            <br>
            <ul>
                <p>
                    <li><a target="_blank" href="https://www.facebook.com/gustavo.maronato">Facebook</a></li>
                </p>
                <p>
                    <li>Telegram, <a target="_blank" href="https://telegram.me/GustavoMaronato">@GustavoMaronato</a></li>
                </p>
            </ul>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3><span class="glyphicon glyphicon-console"></span> Estava tentando hackear seu site.</h3>
            Seu(sua) danadinho(a).
            <br>
            Descobriu alguma coisa?
            <br>
            Me contate por um dos seguintes canais para falarmos sobre isso.
            <ul>
                <p>
                    <li><a target="_blank" href="https://www.facebook.com/gustavo.maronato">Facebook</a></li>
                </p>
                <p>
                    <li>Telegram, <a target="_blank" href="https://telegram.me/GustavoMaronato">@GustavoMaronato</a></li>
                </p>
            </ul>
        </div>
    </div>
</div> <!-- row -->

{% endblock %}
