{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--No formulário de postar spotted, colocar

<div class="g-recaptcha" data-sitekey="6LdeuwcUAAAAAOmN80hxQzWGMIVPqHhWkQPJQV4O"></div>

ao final do formulário para ativar o captcha-->



<div class="jumbotron image-center">
    <div class="container">
        <a id="logo-container" href="/"><img src="{% static 'logo_alt4.png'%}" alt="" /></a>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        {% if not pre.type %}
        <div class="col-xs-12 col-md-12">
            <div style="text-align: center;">
                <h3>Eu quero...</h3>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 center-block">
            <form action="/search/" method="post">
                <div class="input-group center-block">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="ofereco">
                    <input type="hidden" name="select_type" value="true">
                    <button class="center-block login-container" style="padding: 0;border: none;background: none;" type="submit"><img width="100%" height="auto" style="max-width: 483px;" class="center-block img-responsive" src="{% static 'pegar.jpg'%}" alt="" /></button>
                </div>
            </form>
        </div>
        <div class="col-xs-6 col-md-6 center-block">
            <form action="/search/" method="post">
                <div class="input-group center-block">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="procuro">
                    <input type="hidden" name="select_type" value="true">
                    <button class="center-block login-container" style="padding: 0;border: none;background: none;" type="submit"><img width="100%" height="auto" style="max-width: 483px;" class="center-block img-responsive" src="{% static 'dar.jpg'%}" alt="" /></button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="col-xs-12 col-md-6">
            <h3><span class="glyphicon glyphicon-pencil"></span>Opções de busca</h3>
            <div class="form-group">
                <form action="/search/#results" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="hidden" name="type" value="{{ pre.type }}">
                            </div>
                        </div>
                    </div>
                    <br>
                    {% if field_error %}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Oops!</strong> {{ field_error }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if trip_error %}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Oops!</strong> {{ trip_error }} <a data-toggle="modal" data-target="#tripModal" href="#">Como assim?</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if lota_error %}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Oops!</strong> {{ lota_error }} <a data-toggle="modal" data-target="#lotaModal" href="#">Como assim?</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Saindo de</span>
                                <input name="from" value="{{ pre.from }}" list="from" placeholder="Origem" class="form-control" required>
                                <datalist  id="from">
                                    {% for place in places %}
                                    <option value="{{place.place}}">{{place.id}}
                                        {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Indo para</span>
                                <input name="to" value="{{ pre.to }}" list="to" placeholder="Destino" class="form-control" required>
                                <datalist  id="to">
                                    {% for place in places %}
                                    <option value="{{place.place}}">{{place.id}}
                                        {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% if date_error %}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Oops!</strong> {{ date_error }} <a data-toggle="modal" data-target="#dateModal" href="#">Como assim?</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">No dia</span>
                                <select class="form-control" name="date" required>
                                    {% for day in days %}
                                    {% if day.id == pre.date %}
                                    <option selected value="{{day.id}}">{{day.day}}</option>
                                    {% else %}
                                    <option value="{{day.id}}">{{day.day}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if pre.type == 'ofereco' %}
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">Entre</span>
                                <input required placeholder="HH:MM" value="{{ pre.time1 }}" id="time1" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" title="Digite a hora no formato HH:MM" name="start" class="form-control">
                                <span class="input-group-addon">e</span>
                                <input required placeholder="HH:MM" value="{{ pre.time2 }}" id="time2" type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" title="Digite a hora no formato HH:MM" name="end" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <br>
                    {% if price_error %}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Oops!</strong> {{ price_error }} <a data-toggle="modal" data-target="#priceModal" href="#">Como assim?</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6" id="form_d">
                            <div class="input-group">
                                <span class="input-group-addon">Por R$</span>
                                <input required placeholder="Preço" id="price" value="{{ pre.price }}" type="number" min="0" max="100" name="price" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">ou menos</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            <div class="input-group">
                                {% if pre.check_other == "off" %}
                                <input name="check_other" type="checkbox" data-labelauty="Procurar fora do Facebook"/>
                                {% else %}
                                <input name="check_other" checked type="checkbox" data-labelauty="Procurar fora do Facebook"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" id="form_f">
                            <br>
                            <div class="input-group">
                                {% if pre.check == "off" %}
                                <input name="check" type="checkbox" data-labelauty="Ignorar caronas indisponíveis"/>
                                {% else %}
                                <input name="check" checked type="checkbox" data-labelauty="Ignorar caronas indisponíveis"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <input type="hidden" name="price" value="">
                    <input type="hidden" name="start" value="">
                    <input type="hidden" name="end" value="">
                    {% endif %}
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <button type="submit" class="btn btn-success">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            {% if bbc.distance %}
            <h4 align="center">Geralmente essa viagem tem {{bbc.distance}}<br>e dura {{bbc.duration}}</h4>
            {% endif %}
            {% if posts or bbc.list %}
            <h3 id="results"><span class="glyphicon glyphicon-list"></span> Resultados</h3>
            <div>
                {% if posts %}
                <br>
                <h4>Facebook</h4>
                <table style="white-space: nowrap;" id="result" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>R$</th>
                        <th>Hora</th>
                        <th>Vagas*</th>
                        <th>Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{ post.price }}</td>
                        <td>{{ post.hour }}</td>
                        <td>
                            {% for i in post.coef %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </td>
                        <td><button class="btn btn-success" onclick="myFunction('{{ post.message|linebreaksbr }}', '{{ post.from.name }}', '{{ post.from.picture.data.url }}', '{{ post.inbox }}', '{{ post.link }}')" data-toggle="modal" header="" data-target="#myModal" href="#">Ver Carona</button></td>
                        {% endfor %}
                    </tr>
                    </tbody>

                </table>
                <h6>*Estimativa da disponibilidade. Varia de 0 a 4 <span class="glyphicon glyphicon-star"></span></h6>
                {% endif %}
                {% if bbc.list %}
                <br>
                <h4>Outros</h4>
                <table style="white-space: nowrap;" id="bbc" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>R$</th>
                        <th>Hora</th>
                        <th>Vagas</th>
                        <th>Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in bbc.list %}
                    <tr>
                        <td>{{ post.price }}</td>
                        <td>{{ post.time }}</td>
                        <td>
                            {% for i in post.seats_left %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </td>
                        <td><button class="btn btn-success" onclick="myF('{{ post.from }}', '{{ post.to }}', '{{ post.car.model }}', '{{ post.car.comfort }}', '{{ post.car.brand }}', '{{ post.rosa }}', '{{ post.link }}', '{{ post.price }}', '{{ post.time }}', '{{ post.duration }}')" data-toggle="modal" header="" data-target="#Modal2" href="#">Ver Carona</button></td>
                        {% endfor %}
                    </tr>
                    </tbody>

                </table>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="visible-xs col-xs-12">
            <div style="text-align: center;">
                <h3>Precisando pegar ou oferecer uma carona?</h3>
                <hr>
            </div>
            <p>O UniCaronas é a forma mais fácil e rápida para encontrar ofertas e demandas de caronas na Unicamp.</p>
            <p>Para começar a pegar caronas agora, comece entrando com o Facebook abaixo! <a type="button" class="btn btn-sm btn-info" href="/how_it_works/"> Por quê?</a></p>
            <br>
            <a href="/login/facebook/"><img class="center-block img-responsive login-container" src="{% static 'login.png'%}" alt="" /> </a>
        </div>
        <div class="hidden-xs col-xs-12">
            <div class="col-xs-12" style="text-align: center;">
                <h1>Precisando pegar ou oferecer uma carona?</h1>
                <hr>
            </div>
            <br>
            <h4>O UniCaronas é a forma mais fácil e rápida para encontrar ofertas e demandas de caronas na Unicamp.</h4>

            <h4>Para começar a pegar caronas agora, comece entrando com o Facebook abaixo <a type="button" class="btn btn-md btn-info" href="/how_it_works/"> Por quê?</a></h4>
            <br>
            <a href="/login/facebook/"><img width="100%" height="auto" style="max-width: 300px;" class="center-block img-responsive login-container" src="{% static 'login.png'%}" alt="" /> </a>

        </div>
        {% endif %}
    </div>
</div> <!-- row -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox();
    $(":checkbox").labelauty();
    $('#result').DataTable({
    "paging":   false,
    "ordering": true,
    "info":     false,
    "filter": false,

    });
    $('#bbc').DataTable({
    "paging":   false,
    "ordering": true,
    "info":     false,
    "filter": false,

    });
  });
</script>

<script>
function func_type() {
    var elem = document.getElementById("topic_type");

    if (elem.value == "Ofereço") {
        document.getElementById("form_d").style.display = "block";
        document.getElementById("form_o").style.display = "block";
        document.getElementById("form_f").style.display = "block";
        document.getElementById("price").required = true;
        document.getElementById("time1").required = true;
        document.getElementById("time2").required = true;
    } else if (elem.value == "Procuro") {
        document.getElementById("form_o").style.display = "none";
        document.getElementById("form_d").style.display = "none";
        document.getElementById("form_f").style.display = "none";
        document.getElementById("price").required = false;
        document.getElementById("time1").required = false;
        document.getElementById("time2").required = false;
    }
}

func_type();
</script>


<script>
function myFunction(a, b, c, d, e) {
    var links = document.getElementsByClassName('dynamicLink');
    for (var i = 0; i < links.length; i++) {

        links[i].href = e;
    }
    document.getElementById("modal-text").innerHTML = a;
    document.getElementById("modal-author").innerHTML = b;
    document.getElementById("modal-picture").src = c;
    document.getElementById("modal-inbox").innerHTML = d;
    }
</script>

<script>
function myF(a, b, c, d, e, f, g, h, x, z) {
    var links = document.getElementsByClassName('dynamicLink');
    for (var i = 0; i < links.length; i++) {

        links[i].href = g;
    };
    document.getElementById("modal-car-brand").innerHTML = e;
    document.getElementById("modal-rosa").innerHTML = f;
    document.getElementById("modal-from").innerHTML = a;
    document.getElementById("modal-to").innerHTML = b;
    document.getElementById("modal-car-model").innerHTML = c;
    document.getElementById("modal-car-comfort").innerHTML = d;
    document.getElementById("modal-price").innerHTML = h;
    document.getElementById("modal-times").innerHTML = x;
    document.getElementById("modal-duration").innerHTML = z;
};
</script>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header center-block">
                <img class="img-circle center-block img-responsive" id="modal-picture" src="">
                <h3 id="modal-author" style="text-align: center;" class="modal-title center-block"></h3>
            </div>
            <div class="modal-body">
                <h4 id="modal-text"></h4>
            </div>
            <div class="modal-footer">
                <a type="button" href="link" id="dynamicLink btn btn-default" target="_blank" class='dynamicLink btn btn-info'>Abrir Carona</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<div id="Modal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header center-block">
                <img width="100%" height="auto" style="max-width: 200px;" class="center-block img-responsive login-container" src="{% static 'BBC.png'%}" alt="" />
            </div>
            <div class="modal-body">
                <h3 align="center" id="modal-rosa"></h3>
                <h4>Saindo de <b id="modal-from"></b>
                 e indo para <b id="modal-to"></b></h4>
                <h4>às <b id="modal-times"></b> horas por <b>R$</b><b id="modal-price"></b></h4>
                <h4>em um <b id="modal-car-model"></b> <b id="modal-car-comfort"></b> da <b id="modal-car-brand"></b>.</h4>
                <br>
                <h4>Duração de mais ou menos <b id="modal-duration"></b></h4>
                <b></b>

            </div>
            <div class="modal-footer">
                <a type="button" href="link" id="dynamicLink btn btn-default" target="_blank" class='dynamicLink btn btn-info'>Abrir Carona</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="tripModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{trip_error}}</h3>
            </div>
            <div class="modal-body">
                <h4>Não foi possível encontrar nenhuma carona nesse percurso.<br><br>Verifique se você escreveu corretamente e tente de novo.</h4>
                <h5>Obs: Acentos e letras maiúsculas não são importantes, mas espaços são.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="lotaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{lota_error}}</h3>
            </div>
            <div class="modal-body">
                <h4>Todas as caronas de sua pesquisa estão provavelmente lotadas.</h4>
                <h5>Para mostrar essas caronas mesmo assim desmarque a opção 'Ignorar caronas indisponíveis'.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="dateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{date_error}}</h3>
            </div>
            <div class="modal-body">
                <h4>Existem caronas nesse percurso, mas infelizmente nenhuma se encaixa no período especificado.<br><br>Experimente outros horários ou dias.</h4>
                <br>
                <h5>Dica: Quanto maior a janela de horários maior a chance de existir uma carona.<br>ex: de 00:00 a 23:59</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="priceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{price_error}}</h3>
            </div>
            <div class="modal-body">
                <h4>Não foi possível encontrar nenhuma carona com esse preço ou mais barata.<br><br>Experimente aumentar o preço de sua pesquisa.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

