{% extends "base.html" %}

{% block content %}
<section class="section">
	<div class="is-vertical tile">
		<form action="{% url 'post_spotted' %}" method="POST" accept-charset="utf-8">
			{% csrf_token %}
			<label class="label">Mensagem</label>
			<p class="control">
				<textarea name="message" class="textarea" placeholder="Manda aquele spotted aqui" required></textarea>
			</p>

			<label class="label">Alvo</label>
			<p class="control">
				<input name="target" class="input" type="text" placeholder="Nome da pessoa em questao">
			</p>

			<label class="label">Anexo</label>
			<p class="control">
				<input name="attachment" class="input" type="url" placeholder="Links para mandar junto">
			</p>

			<p class="control">
				<label class="checkbox">
					<input name="anonymous" type="checkbox">
					Anonimo?
				</label>
			</p>

			<div class="g-recaptcha" data-sitekey="6LdeuwcUAAAAAOmN80hxQzWGMIVPqHhWkQPJQV4O"></div>
			<p class="control">
				<button type="submit" class="button is-primary">Submit</button>
				<button type="reset" class="button is-link">Cancel</button>
			</p>
		</form>

		{% for spotted in vars.spots %}
			<article class="message is-primary">
				<div class="message-header">{{spotted.post_id}}</div>
				<div class="message-body">{{spotted.message}}</div>
			</article>
		{% endfor %}
	</div>
</section>
{% endblock content %}
