{% extends "base2.html" %}

{% block content %}

{% load staticfiles %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="section">
    <div class="container marketing">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">check</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Oba:</b> {{message |safe}}
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Oops:</b> {{message |safe}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}


        <div class="row featurette">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="featurette-heading"> Seus Spotteds
                </h2>
            </div>
        </div>


        <hr class="featurette-divider">



        {% for spotted in vars.spots %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-center">#{{ spotted.id }}</h4>
                    {% if spotted.target %}
                    <div class="text-center">
                        <a target="_blank" href="https://www.facebook.com/{{spotted.target}}" class="btn btn-info btn-round">Mostrar Alvo</a>
                    </div>
                    {% endif %}
                    <hr>
                    <p class="card-text">{{spotted.message | linebreaks}}</p>
                    <hr>
                    <div class="footer row">
                        <div class="col-xs-6">
                            <a target="_blank" href="https://facebook.com/{{spotted.post_id}}" class="btn btn-info btn-round">Abrir Spot.</a>
                        </div>
                        <div class="col-xs-6">
                            <form action="/delete_spotted/" method="POST" accept-charset="utf-8">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{spotted.id}}">

                                <button type="submit" class="btn btn-danger btn-round">Deletar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div><!-- .end Card -->
        </div>

        {% endfor %}

    </div>
</div>

{% endblock content %}





<!--<section class="section">-->
<!--<div class="is-vertical tile">-->
<!--{% if messages %}-->
<!--{% for message in messages %}-->
<!--{% if message.tags == 'success' %}-->
<!--<div class="notification is-success">-->
<!--<button class="delete"></button>-->
<!--{{message |safe}}-->
<!--</div>-->
<!--{% else %}-->
<!--<div class="notification is-warning">-->
<!--<button class="delete"></button>-->
<!--{{message |safe}}-->
<!--</div>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% endif %}-->

<!--<form action="{% url 'post_spotted' %}" method="POST" accept-charset="utf-8">-->
<!--{% csrf_token %}-->
<!--<label class="label">Mensagem</label>-->
<!--<p class="control">-->
<!--<textarea name="message" class="textarea" placeholder="Manda aquele spotted aqui" required></textarea>-->
<!--</p>-->

<!--<label class="label">Alvo</label>-->
<!--<p class="control">-->
<!--<input name="target" class="input" type="text" placeholder="Nome da pessoa em questao">-->
<!--</p>-->

<!--<label class="label">Anexo</label>-->
<!--<p class="control">-->
<!--<input name="attachment" class="input" type="url" placeholder="Links para mandar junto">-->
<!--</p>-->

<!--<p class="control">-->
<!--<label class="checkbox">-->
<!--<input name="anonymous" type="checkbox">-->
<!--Anonimo?-->
<!--</label>-->
<!--</p>-->

<!--<div class="g-recaptcha" data-sitekey="6LdeuwcUAAAAAOmN80hxQzWGMIVPqHhWkQPJQV4O"></div>-->
<!--<p class="control">-->
<!--<button type="submit" class="button is-primary">Submit</button>-->
<!--<button type="reset" class="button is-link">Cancel</button>-->
<!--</p>-->
<!--</form>-->

<!--{% for spotted in vars.spots %}-->
<!--<article class="message is-primary">-->
<!--<div class="message-header">{{spotted.post_id}}</div>-->
<!--<div class="message-body">{{spotted.message}}, para <a href="http://facebook/{{spotted.target}}"></a> </div>-->
<!--</article>-->
<!--<form action="/delete_spotted/" method="POST" accept-charset="utf-8">-->
<!--{% csrf_token %}-->
<!--<input type="hidden" name="id" value="{{spotted.id}}">-->
<!--<p class="control">-->
<!--<button type="submit" class="button is-primary">Apagar</button>-->
<!--</p>-->
<!--</form>-->

<!--{% endfor %}-->
<!--</div>-->
<!--</section>-->

