<form action="{% url 'spotteds:submit' %}" method="post" class="ui form">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <div class="ui toggle checkbox {% if spottedform.anonymous.errors.as_text %}error{% endif %}">
        <span style="color: red" class="small">{{ spottedform.anonymous.errors.as_text }}</span>
        {{ spottedform.anonymous }}
        <label>{{ spottedform.anonymous.label}}</label>
    </div>
    <br>
    <div id='public_field' class="ui toggle checkbox {% if spottedform.public.errors.as_text %}error{% endif %}">
        <span style="color: red" class="small">{{ spottedform.public.errors.as_text }}</span>
        {{ spottedform.public }}
        <label>{{ spottedform.public.label}}</label>
    </div>
    {% endif %}
    <div id="target_name" class="field {% if spottedform.target_name.errors.as_text %}error{% endif %}">
        <label>{{ spottedform.target_name.label}}</label>
        <span style="color: red" class="small">{{ spottedform.target_name.errors.as_text }}</span>
        {{ spottedform.target_name }}
    </div>
    <div class="field {% if spottedform.attachment.category.as_text %}error{% endif %}">
        <label>{{ spottedform.attachment.label}}</label>
        <span style="color: red" class="small">{{ spottedform.attachment.errors.as_text }}</span>
        {{ spottedform.attachment }}
    </div>
    <div class="field {% if spottedform.message.errors.as_text %}error{% endif %}">
        <label>{{ spottedform.message.label}}</label>
        <span style="color: red" class="small">{{ spottedform.message.errors.as_text }}</span>
        {{ spottedform.message }}
    </div>
    <div class="field {% if spottedform.captcha.errors.as_text %}error{% endif %}">
        <span style="color: red" class="small">{{ spottedform.captcha.errors.as_text }}</span>
        {{ spottedform.captcha }}
    </div>
    <button class="ui button primary" type="submit">Enviar Spotted</button>
</form>

<script type="text/javascript">
    $('#id_anonymous').change(function() {
        if ($(this).is(":checked")) {
            $('#public_field').hide();
            $('#id_public').prop('checked', false);
        }
        else {
            $('#public_field').show();
        }
    });

    function change_public() {
        if ($('#id_anonymous').is(":checked")) {
            $('#public_field').hide();
            $('#id_public').prop('checked', false);
        }
        else {
            $('#public_field').show();
        }
    };

    change_public()

    var targets = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,

      prefetch: "{% url 'prefetch_facebook_users' %}",
  });


    $('#target_name .typeahead').typeahead(null, {
      name: 'targets',
      limit: 10,
      source: targets,
      templates: {
        empty: [
        '<div style="color: black; text-align: center; margin: 20px;" class="empty-message">',
        'Nenhum crush com esse nome cadastrado :(',
        '</div>'
        ].join('\n'),
    }
});
</script>
